/* titlebar */

#titlebar {
  display: none !important;
}

#star-button-box {
  display: none;
}

/* border */
#tabbrowser-tabbox {
  border-radius: 12px !important;
  border: 1px solid var(--arrowpanel-background);;
  outline: none !important;
}
    
#tabbrowser-tabpanels::after {
  content: "";
  margin: -1px;
  border: 1px solid var(--arrowpanel-background);
  position: absolute;
  inset: 0;
  border-radius: 12px;
  box-shadow: 0 0 0 100px var(--arrowpanel-background) !important;
  clip-path: inset(0);
  pointer-events: none;
}

#main-window {
  box-sizing: border-box;
  padding: 0px 10px 10px 10px !important;
}

body {
  background-color: #282828;
  border-radius: 12px;
}

#navigator-toolbox {
  --toolbar-bgcolor: transparent;
  background-color: transparent !important;
}

/* navbar */

#nav-bar {
  border-top: 0px !important;
}

#navigator-toolbox {
  border-bottom: 0px !important;
}

/* sidebar */

#sidebar-box {
  background-color: transparent !important;
}

#sidebar-header {
  display: none;
}

#sidebar-splitter {
  border: 0px !important;
}

/* fullscreen */

@media all and (display-mode: fullscreen) {
  #main-window {
    padding: 0px !important;
  };
  body {
  border-radius: 0px;
  }
}

